# Node.js dependencies
node_modules/

# Vite build output
/dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Operating system files
.DS_Store
Thumbs.db

# IDE/editor folders
.idea/
.vscode/

# Coverage directories
coverage/

# Other files
*.tgz
*.gz
