.container-body {
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;             
}

input {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;  
    width: 30%;          
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  